*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

.intro__title {
  font-size: 3.125rem;
  font-weight: 600;
  font-family: "Fraunces", serif;
}

.content__header {
  font-size: 1.25rem;
  font-family: "Fraunces", serif;
  font-weight: 600;
}

.content__title {
  font-size: 1.75rem;
  font-family: "Fraunces", serif;
  font-weight: 600;
}

.testimonial__title {
  font-size: 2rem;
  font-weight: 600;
}
